<form class="form" #addItemForm="ngForm" name="addItemForm">
  <div class="row">
    <div class="col-md">
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        placeholder="Enter name"
        [(ngModel)]="newItemName"
        value="{{ newItemName }}"
        required
      />
    </div>
    <div class="col-md">
      <input
        type="text"
        id="description"
        name="description"
        class="form-control"
        placeholder="Enter description"
        [(ngModel)]="newItemDescription"
        value="{{ newItemDescription }}"
        required
      />
    </div>

    <div class="col-md">
      <button (click)="$event.preventDefault(); addItem()" type="submit">
        Add {{ category }}
      </button>
    </div>
  </div>
</form>
