<div class="row">
  <div class="col-md-8">
    <h1 class="display-3">Top 10 {{ category }}</h1>
  </div>
  <div class="col-md-4 text-end">
    <button class="btn btn-sm btn-success me-2" (click)="saveList()">
      <i class="bi bi-save"></i>
    </button>
    <button class="btn btn-sm btn-secondary" (click)="clearList()">
      <i class="bi bi-arrow-clockwise"></i>
    </button>
  </div>
</div>
<div *ngFor="let item of list; let i = index" class="row">
  <div class="col-md-2">
    <a (click)="moveItemUp(item)">
      <i class="bi bi-arrow-up-circle"></i>
    </a>
    <a (click)="moveItemDown(item)">
      <i class="bi bi-arrow-down-circle"></i>
    </a>
    <a (click)="deleteItem(i)">
      <i class="bi bi-x-circle"></i>
    </a>
  </div>
  <div class="col-md-1 text-center">
    <h4 class="m-0">#{{ i + 1 }}</h4>
  </div>
  <div class="col-md-8">
    {{ item.name }}
  </div>
</div>
